@import "tailwindcss";




@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-down {
  animation: fadeSlideDown 0.3s ease-out both;
}
